import(MASS)
import(mvtnorm)
import(igraph)

export(CDVineLogLik)
export(CDVineAIC)
export(CDVineBIC)
export(CDVineSeqEst)
export(CDVineCopSelect)
export(CDVineSim)
export(CDVineMLE)
export(CDVineVuongTest)
export(CDVineClarkeTest)
export(CDVinePar2Tau)
export(CDVineTreePlot)

export(BiCopEst)
export(BiCopMetaContour)
export(BiCopChiPlot)
export(BiCopKPlot)
export(BiCopLambda)
export(BiCopVuongClarke)
export(BiCopIndTest)
export(BiCopSim)
export(BiCopPDF)
export(BiCopCDF)
export(BiCopPar2Tau)
export(BiCopPar2TailDep)
export(BiCopTau2Par)
export(BiCopSelect)
export(BiCopGofKendall)
export(BiCopName)
export(BiCopHfunc)

useDynLib("CDVine")
